<head>
  <title>meteor_app</title>
</head>

<body> 
  {{> SignIn}}
  {{> SignUp}}
  <script> 
  $( "#signup-form" ).submit(function( event ) {
    alert( "Handler for .submit() called." );
       });
  $( "#signin-form" ).submit(function( event ) {
    alert( "Handler for .submit() called." );
    event.preventDefault();
  });
  </script>

<section class="module parallax">
  <div class="container">
    <h1>Serene</h1>
  </div>
</section>

<section class="module content" >
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax">
  <div class="container">
    <h1>Rise</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax">
  <div class="container">
    <h1>Calm</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>
<div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div><div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div><div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div><div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div><div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
  <h1>Welcome to Meteor!</h1>
  <h1>hey </h1>

  

{{> hello}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="SignIn">
  <form id="login-form" action="action">
      <div>
        <input type="email" id="login-email" placeholder="Email" />
        <input type="password" id="login-password" placeholder="Password" />
        <input type="submit" id="login-button" value="Sign in" />
      </div>
  </form>
</template>

<template name="SignUp">
  <form id="signup-form" action="action">
      <div>
        <input type="email" id="login-email" placeholder="Email" />
        <input type="password" id="login-password" placeholder="Password" />
        <input type="submit" id="create-account" value="Sign Up" />
     </div>
   </form> 
</template>